
.wrapper{
    width: 50%;
    height: auto;
    display: flex;
    padding-top: 5%;
    margin: auto;
}

.innerbox{
    width: 50%;
    height: fit-content;
    margin: auto;
    text-align: center;
}

.photo{
    width: 100%;
    height: auto;
}

.heading{
    font-size: 250%;
    color: green;
}

button{
    width: 30%;
    height: 35px;
    border-color: grey;
    border-radius: 5px;
}

a:-webkit-any-link{
    color: rgba(0, 0, 0, 0.767);
    text-decoration:none;
    font-weight: bold;
    font-size: 150%;
}

button:hover{
    background-color: green;
    border-color: green;
}

a{
    margin: auto;
}
