.head{
    width: 100%;
    height: auto;
    display: flex;
    border-bottom: 1px solid;
}

.instagram{
    width: 20%;
    height: auto;
    float: left;
    margin-left: 15%;
}

.logo{
    width: 10%;
    
    height: fit-content;
    float: right;
    margin-right: 20%;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

.logo:hover{
    width: 12%
}

a{
    height:100%;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
}